.copyright {
  font-size: 13px;
  letter-spacing: 0.04em;
  color: rgba($color_blue_dark, 0.5);
  border-top: 1px solid rgba(#626962, 0.2);
}

.copyright__wrapper {
  display: flex;
  width: 100%;
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 25px 0 23px;
}

.copyright__text {
  margin: 0;
  margin-right: 73px;
  text-transform: uppercase;
}

.copyright__link {
  color: currentColor;
  text-transform: uppercase;
  transition: all 0.2s $transition_timing;

  &--privacy {
    margin-left: 5%;
  }

  &--developed {
    margin-left: auto;
  }

  &:hover,
  &:focus {
    color: $color_hover_secondary;
  }

  &:active {
    opacity: 0.8;
  }
}

@media (max-width: $tablet_width) {
  .copyright__wrapper {
    justify-content: space-between;
    padding: 0 23px 0 30px;
  }

  .copyright p {
    display: none;
  }

  .copyright a {
    margin: 0;
  }
}

@media (max-width: $mobile_width) {
  .copyright__wrapper {
    flex-direction: column;
    text-align: center;
  }

  .copyright a:not(:last-of-type) {
    margin-bottom: 30px;
  }

  .copyright *:first-of-type,
  .copyright *:last-of-type {
    padding: 0;
  }
}
