.logo {
  display: flex;
}

.logo img {
  width: 52px;
  height: 52px;
}

.logo__text {
  margin-left: 16px;
}

.logo__title {
  margin: 0;
  font-family: $font_family_title;
  font-weight: 700;
  font-size: 25px;
}

.logo__tagline {
  margin: 0;
  font-family: $font_family_tagline;
  font-weight: 500;
  font-size: 12px;
  color: #788891;
}

@media (max-width: $mobile_width) {
  .logo img {
    width: auto;
    height: auto;
  }

  .logo__text {
    display: none;
  }
}
